/* External CSS */
/* Descendant Selector  */
/* div p{
    color: chartreuse;
} */
/* Child Combinator */
/* div> p{
    color: chartreuse;
} */


/* Next Sibiling Combinator */
/* div + p{
    background-color: chartreuse;
} */


*,
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.box {
    width: 200px;
    height: 200px;


    background-color: #010101;
    padding: 10px;

    border: 2px solid red;
    margin: auto;

    /* margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */

    border-radius: 50%;

}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* ... */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* ... */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* ... */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* ... */
}